$footer_back: #55D0FF;
$footer_top: #3A80F5;
$navigat_bar: #537EFF;
$navigat_bar_border: #3F71FF;
.white{
  color: white;
}
.blue{
  color:#4B57FF;
}
.grey{
  background-color: #A7B2C2;
}
.grey_text{
  text-decoration-color: grey;
}
