header{
  background-image: url('../img/cover.jpg');
  min-height: 70vh;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;
  }
.bordeada{
  border: 5px solid black;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.top-bar{
  margin-top: 0;
  padding-top: 0;
}
.footer{
  background-color: $footer_back;
}
footer{
  min-height: 30vh;
  border-top: 5px solid $footer_top;
}
.img_red{
  width: 48px;
  height: auto;
}
.left_bar{
  background-color: $navigat_bar;
  padding-left: -10px;
  margin-left: -15px;
  margin-bottom: -2px;
  border-right: 5px solid $navigat_bar_border;
}
textarea {
  height:300px;
}
